---
layout: layout.liquid
title: Humor
---

<h1>I would never leave my house without my amazing sence of humor</h1>
<section class="text">
    <figure>
        <img alt="Me" src="/images/me.JPG" width="50" />
        <figcaption>Me</figcaption>
    </figure>
    <section class="flex-down">
        <p>My sense of humor is dark, blunt, and sarcastic. Without it no one would ever laugh and joy would be stripped from the world.</p>
        <p>The humor is in me so my description is me, enjoy</p>
    </section>
</section>