---
layout: layout.liquid
title: Home
---

<h1>3 things I would never leave the house without</h1>
<ul class="list-of-items">
    <li>My Phone</li>
    <li>My Keychain</li>
    <li>My amazing sense of humor</li>
</ul>