---
layout: layout.liquid
title: Keys
---

<h1>I would never leave my house without my keychain</h1>
<section class="text">
    <figure>
        <img alt="Keychain" src="/images/keychain.jpeg" width="50" />
        <figcaption>Keychain</figcaption>
    </figure>
    <section class="flex-down">
        <p>My keychain has everything important on it. It has my wallet with my liceance, debit card, msu id, cash, and my health insurance card. I also have my apartment key, car key, house key, and mail key on it. If I left without this, I would be stranded in place.</p>
        <p>I have a black lululemon keychain and a black wallet. My keys are also attached to it.</p>
    </section>
</section>