---
layout: layout.liquid
title: Phone
---

<h1>I would never leave my house without my phone</h1>
<section class="text">
    <figure>
        <img alt="Phone" src="/images/phone.jpeg" width="50" />
        <figcaption>Phone</figcaption>
    </figure>
    <section class="flex-down">
        <p>The more serious reason is for contact and for emergencies. I wouldn't be able to reach the people I need if something happened and vice versa. On the not serious side, I like scrolling on tiktok, listening to music, taking photos, and using it to find my destinations. I am practically an iPad kid.</p>
        <p>I have a black iPhone 12. It has a clear case with a polaroid picture of my horse in it. It doesn't work great all the time but it does the job.</p>
    </section>
</section>