.josefin-sans-title {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.zalando-sans {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e4edf0;
}

nav {
    margin: 0 auto;
    width: 100%;
    background: #0b4462;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #dbe9ee;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Josefin Sans";
}

h1 {
    text-align: center;
    margin: 50px 30px 30px 30px;
    font-family: "Zalando Sans";
    color: #0b4462;
    font-size: 60px;
}

.list-of-items {
    text-align: center;
    list-style-type: none;

}

.list-of-items li {
    margin: 30px;
    font-family: "Josefin Sans";
    color: #166088;
    font-size: 40px;
}


.text {
    display: flex;
    flex-direction: row;
}

.flex-down {
    flex-direction: column;
    font-size: 30px;
    font-family: "Josefin Sans";
    margin: 0px 30px 30px 30px;
    color: #166088;
}

.text img {
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    margin: 0px 30px 40px 30px;
}

figure figcaption  {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 20px;
    color: #166088;
    margin: 0px;
}